= form_for @event do |f|
  .row
    .columns.large-12
      =f.label :name
      =f.text_field :name

  .row
    .columns.large-4
      =f.label :date
      =f.text_field :date
  
  .row
    .columns.large-6
      =f.label :street_address
      =f.text_field :street_address, value: "700 San Jacinto Blvd."
    .columns.large-3
      =f.label :city
      =f.text_field :city, value: "Austin"
    .columns.large-3
      =f.label :state
      =f.text_field :state, value: "TX"
  .row
    .columns.large-12
      =f.submit

-content_for :javascript do
  :javascript
    $("#event_date").datepicker();