= form_for @event do |f|
  .row
    .columns.large-12
      =f.label :name
      =f.text_field :name
  .row
    .columns.large-12
      =f.label :date
      =f.text_field :date
  
  .row
    .columns.large-12
      =f.label :street_address
      =f.text_field :street_address, value: "700 San Jacinto Blvd."
  .row
    .columns.large-6
      =f.label :city
      =f.text_field :city, value: "Austin"
    .columns.large-6
      =f.label :state
      =f.text_field :state, value: "TX"
  .row
    .columns.small-6.large-6.left
      =f.submit class: "button small radius expand"
    .columns.small-6.large-6.left
      =button_tag "Close", class: "button small radius expand close-modal"
    