
%h3 Today's events
-@events[:current_events].each do |event|
  %p
    =link_to event.name, event_path(event)
    =event.street_address
    =event.date
    =event.city
    =event.state
    =link_to "delete", event_path(event), method: :delete, remote: true
%h3 Future events
-@events[:future_events].each do |event|
  %p
    =link_to event.name, event_path(event)
    =event.street_address
    =event.date
    =event.city
    =event.state
    =link_to "delete", event_path(event), method: :delete, remote: true
%h3 Past events
-@events[:past_events].each do |event|
  %p
    =link_to event.name, event_path(event)
    =event.street_address
    =event.date
    =event.city
    =event.state
    =link_to "delete", event_path(event), method: :delete, remote: true

=# Only add if admin
#myModal.reveal-modal.small
  = render "events_form"

=content_for :javascript do
  :javascript
    init.eventList();