=render "layouts/nav"
%nav
  %span.welcome Welcome #{current_user.name}!
  =render "layouts/sign_out"
      
-if @events[:current_events].count > 0
  %h3 Today's events
  =render "event_list", :events => @events[:current_events]
  
-if @events[:future_events].count > 0
  %h3 Future events 
  =render "event_list", :events => @events[:future_events]

-if @events[:past_events].count > 0   
  %h3 Past events
  =render "event_list", :events => @events[:past_events]

-if current_user.is_admin
  #myModal.reveal-modal.small
    = render "events_form"

=content_for :javascript do
  :javascript
    init.eventList();
    init.masonry($(".masonry-container"));

