=content_for :waterfall do
  .waterfall
    =render "layouts/nav"
    =if current_user.is_admin
      %span show options
    
    .waterfall-body
      %h2 Austin on Rails
      %h3 Attendees
      .single-event-details
        .single-event-title
          =@event.name
        .single-event-date
          =@event.date.strftime("%b %d, %Y")
      .attendees
  
=content_for :javascript do
  #templates
    %script.check-ins{:type => "text/template"}
      %a{href: "https://twitter.com/intent/user?screen_name={{ twitter_handle }}", class: "follow-attendee"} 
        .attendee
          .avatar
            %img{src: "{{ avatar }}"}
          .info
            .attendee-name {{ name }}
            .twitter-contact
              .twitter-icon
                %i.fa.fa-twitter-square
              .twitter-handle
                %strong {{ twitter_handle }}
            .bio
              {{ bio }}


  -if can_user_check_in
    =subscribe_to "/messages/#{@event.id}"

    :javascript
      init.pinpoint(#{@event.id}, #{current_user.id})