=render "layouts/nav"

.single-event-details
  .single-event-title
    =@event.name
  .single-event-date
    =@event.date.strftime("%b %d, %Y")

%h3 Attendees
.attendees
  .grid-sizer
  -@attendees.each do |attendee|
    .brick.attendee
      .row
        .columns.small-3
          =image_tag attendee.avatar
        .columns.small-9
          =attendee.name
          %br
          %br
          =link_to "Follow", "https://twitter.com/intent/user?screen_name=#{attendee.twitter_handle}", class: "follow-attendee button small expand radius"
#templates
  %script.bricks{:type => "text/template"}
    .brick.attendee
      .row
        .columns.small-3
          %img{src: "{{ avatar }}"}
        .columns.small-9
          %strong.attendee-name {{ name }}
          %br
          %br
          %a{href: "https://twitter.com/intent/user?screen_name={{ twitter_handle }}", class: "follow-attendee button small expand radius"} Follow
=content_for :javascript do
  -if can_user_check_in
    =subscribe_to "/messages/#{@event.id}"

    :javascript
      init.pinpoint(#{@event.id}, #{current_user.id})
      init.masonry($(".attendees"));