=render "layouts/nav"
.login
  - if devise_mapping.omniauthable?
    .login-button
      = link_to omniauth_authorize_path(resource_name, :twitter) do
        .twitter-icon
          %i.fa.fa-twitter
        .login-text
          Log in with Twitter