.event-details{
  text-align: center;
  margin-bottom: 10px;
  border: 2px $black solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background: $white;
  @include breakpoint(mama-bear){
    width: 30%;
  }
  @include breakpoint(papa-bear){
    width: 24%;
  }
}

.event-date{
  font-size: 1.5em;
}

.event-title{
  font-size: 2.5em;
  margin-bottom: 5px;
  word-break: break-all;
  @include breakpoint(mama-bear){
    font-size: 2em;
  }
}

.event-address{
  margin: 10px 0;
}