@import url("http://fonts.googleapis.com/css?family=Marcellus+SC");

//////////////////////////////////////////////////
//
//
//               VARIABLES  
//
//
//////////////////////////////////////////////////

$primary: $primary-color;
$secondary: #590202;
$tertiary: #BF0404;
$black: #000;
$white: #fff;

//////////////////////////////////////////////////
//
//
//                  MIXINS   
//
//
//////////////////////////////////////////////////

@mixin breakpoint($point) {
  @if $point == papa-bear {
    // Medium-screen is set in foundation.
    @media all and (min-width: 1000px) { @content; }
  }
  @else if $point == mama-bear {
    // Small-screen ise t in foundation.
    @media all and (min-width: 720px)  { @content; }
  }
}


//////////////////////////////////////////////////
//
//
//                GLOBAL RESETS  
//
//
//////////////////////////////////////////////////
*{
  box-sizing: border-box;
}

body{
  background-color: $primary;
  border: $primary 10px solid;
}

.main-content{
  background-color: $white;
  padding: 10px;
}

h1, h2, h3, h4, h5{
  font-family: 'Marcellus SC', serif;
  color: $primary;
  border-bottom: solid 2px $secondary;
}

.button{
  transition: background-color 0.3s;
  transition: color 0.2s;
  border: $black solid 1px;

  &:hover{
    background-color: $white;
    color: $primary;
  }
}

//////////////////////////////////////////////////
//
//
//                    LOGIN      
//
//
//////////////////////////////////////////////////


.login-button{
  margin: 0 auto;
  max-width: 220px;
  background-color: $primary;
  border-radius: 5px;
  border: $black 2px solid;
  transition: background-color 0.2s;

  &:hover{
    background-color: $white;
  }

  div{
    display: inline-block;
    color: $white;
    padding: 15px;
  }
  .twitter-icon{
    border-right: 1px solid $black;
    font-size: 1.3em;
    padding-top: 10px;
  }

  a:hover div{
    color: $primary;
  }
}



//////////////////////////////////////////////////
//
//
//                BANNER / LOGO       
//
//
//////////////////////////////////////////////////

.banner{
  text-align: center;

  h1{
    font-size: 3em;
    display: inline;
    transition: color .2s
  }

  a:hover h1{
    color: $black;
  }
  

  nav{
    margin-top: 25px;
    .welcome{
      font-family: 'Marcellus SC', serif;
      color: $black;
      font-size: 1.3em;
    }
  }
  
  .sign-out{
    margin: 10px;
  }
}

//////////////////////////////////////////////////
//
//
//               MASONRY GRID SIZER   
//
//
//////////////////////////////////////////////////


.grid-sizer{
  width: 100%;
  @include breakpoint(mama-bear){
    width: 30%;
  }
  @include breakpoint(papa-bear){
    width: 24%;
  }
}