.waterfall{
  @include clearfix;

  @include breakpoint(papa-bear){
    width: 99%;
    margin: 0 auto;
  }

  .single-event-details{
    font-family: 'Marcellus SC', serif;
    margin: 10px 0;
    text-align: center;
  }
    .single-event-title{
      font-size: 1.7em;
    }
    .single-event-date{
      font-size: 1.3em;
    }
}

.waterfall-nav{
  @include breakpoint(papa-bear){
    float: left;
  }

  .animate{
    display: block;
    margin: auto;
  }
}

.waterfall-body{

  @include breakpoint(papa-bear){
    float: right;
    width: 74%;
  }

  h2{
    display: none;
    @include breakpoint(papa-bear){
      display: block;
      text-align: center;
      font-size: 3.5em;
      margin-bottom: 0;
      height: 63px;
    }
    &:hover{
      color: $black;
    }
  }

  h3{
    font-size: 2em;
    text-align: center;
    @include breakpoint(papa-bear){
      font-size: 2em;
      margin-top: 0;
    }
  }
}

.attendees{
  @include clearfix;
}

.follow-attendee{
  display: block;
  border-radius: 15px;
  margin: 20px 0;

  &:hover{
    background: $primary;
    color: $white;
  }

  @include breakpoint(mama-bear){
    margin: 10px;
    width: 47%;
    float: left;
  }
}

.attendee{
  @include clearfix;
  border: 3px solid $primary;
  padding: 10px;
  border-radius: 15px;

  .avatar{
    float: left;
    margin-right: 10px;
    width: 50px;

    @include breakpoint(baby-bear){
      width: 100px;
    }
    @include breakpoint(mama-bear){
      width: 30%;
    }
  }

  .info{
    float: left;
    font-size: 1.2em;
    max-width: 66%;
    .bio{
      display: none;
      @include breakpoint(mama-bear){
        display: block;
      }
    }
  }

    .attendee-name{
      margin-bottom: 3px;
    }

    .twitter-contact{
      @include clearfix;
    }

    .twitter-icon{
      float: left;
      font-size: 1.5em;
    }
    .twitter-handle{
      float: left;
      margin: 5px;
    }
}