.banner
  =link_to root_path do
    =image_tag "AOR-Check-in.png", size: "200"
    %br
    %h1 Austin on Rails
  %nav
    -if user_signed_in?
      %span.welcome Welcome #{current_user.name}!
      .sign-out
        =button_tag "Add Event", class: "add-event radius button"
        =link_to "Sign out", destroy_user_session_path, method: :delete, class: "button radius"