.sign-out
  .row
    -if current_user.is_admin
      .columns.large-6
        =button_tag "Add Event", class: "add-event radius button expand"
      .columns.large-6
        =link_to "Sign out", destroy_user_session_path, method: :delete, class: "button radius expand"
    -else
      .columns.large-8.large-centered.small-6.small-centered
        =link_to "Sign out", destroy_user_session_path, method: :delete, class: "button radius expand"
